<div class="store">
  <h2>My Store List</h2>

  <mat-list class="item" *ngFor="let item of userList" [routerLink]="['/items',item.id ]" [appHoverHighlight]="'beige'" role="list">
    <mat-list-item [appHoverHighlight]="'lightblue'" role="listitem"><strong>ID: </strong>{{item.id}}</mat-list-item>
    <mat-list-item [appHoverHighlight]="'lightblue'"><strong>Product Name And Description: </strong>{{item | productDescription| titlecase }}</mat-list-item>
    <mat-list-item [appHoverHighlight]="'lightblue'"><strong>Quantity: </strong>{{item.quantity}}</mat-list-item>
    <mat-list-item [appHoverHighlight]="'lightblue'"><strong>Color: </strong>{{item.color | uppercase }}</mat-list-item>
    <mat-list-item [appHoverHighlight]="'lightblue'"><strong>Price: </strong>{{item.price | currency: 'CAD'}}</mat-list-item>
    <mat-list-item [appHoverHighlight]="'lightblue'"><strong>GiftWrap: </strong>{{item.giftWrap ? 'Yes':'No'}}</mat-list-item>
<!--    <button type="button" (click)="delete(item.id)" [appHoverHighlight]="'green'">Delete</button>-->
<!--    <button type="button" (click)="navigateToItemList()" [appHoverHighlight]="'green'">Edit</button>-->
    <div class="button-group">
      <button mat-raised-button color="primary" type="button" (click)="delete(item.id)" [appHoverHighlight]="'lightblue'">Delete</button>
      <button mat-raised-button color="primary" type="button" (click)="navigateToItemList()" [appHoverHighlight]="'lightblue'">Edit</button>
    </div>

    <!-- Error Message -->

  </mat-list>

  <div *ngIf="error" class="error mat-error">{{ error }}</div>

</div>
<!--<mat-card>-->
<!--  <mat-card-header>-->
<!--    <mat-card-title>Pet Sitters</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <mat-card-content>-->
<!--    &lt;!&ndash; Add New Sitter Button &ndash;&gt;-->
<!--    <button mat-raised-button color="primary" (click)="navigateToAddSitter()">Add New Sitter</button>-->

<!--    &lt;!&ndash; Filters Section (No functionality)&ndash;&gt;-->
<!--    <div class="filters" style="margin-top: 16px;">-->
<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Specialty</mat-label>-->
<!--        <mat-select>-->
<!--          <mat-option value="">All</mat-option>-->
<!--          <mat-option value="Dogs">Dogs</mat-option>-->
<!--          <mat-option value="Cats">Cats</mat-option>-->
<!--          <mat-option value="Birds">Birds</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->

<!--      <mat-form-field appearance="fill">-->
<!--        <mat-label>Availability</mat-label>-->
<!--        <mat-select>-->
<!--          <mat-option value="">All</mat-option>-->
<!--          <mat-option [value]="true">Available</mat-option>-->
<!--          <mat-option [value]="false">Unavailable</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    &lt;!&ndash; Sitters List Section &ndash;&gt;-->
<!--    <div class="sitter-list">-->
<!--      <mat-grid-list cols="4" rowHeight="4:3" gutterSize="5px">-->
<!--        <mat-grid-tile *ngFor="let sitter of sitters">-->
<!--          <mat-card class="sitter-card">-->
<!--            <mat-card-header>-->
<!--              <mat-card-title>{{ sitter.name }}</mat-card-title>-->
<!--            </mat-card-header>-->
<!--            <mat-card-content>-->
<!--              <p><strong>Specialty:</strong> {{ sitter.specialty }}</p>-->
<!--              <p><strong>Rating:</strong> {{ sitter.rating }}</p>-->
<!--              <p><strong>Avail: </strong> <span [appSitterStatus]="sitter.available"></span></p>-->
<!--            </mat-card-content>-->
<!--            <mat-card-actions>-->
<!--              <button mat-button [routerLink]="'/sitters/' + sitter.id">View Details</button>-->
<!--              <button mat-raised-button color="accent" (click)="navigateToModifySitter(sitter.id)">Edit</button>-->
<!--            </mat-card-actions>-->
<!--          </mat-card>-->
<!--        </mat-grid-tile>-->
<!--      </mat-grid-list>-->
<!--    </div>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->

