
<div *ngIf="item" class="item-list" >
  <mat-card class="item-card">
  <mat-card-title class="title">My Store</mat-card-title>
    <mat-card-subtitle>Item List</mat-card-subtitle>
    <mat-card-content [appHoverHighlight]="'lightblue'"><strong> ID: </strong>{{item.id}}</mat-card-content>
  <mat-card-content [appHoverHighlight]="'lightblue'"><strong> ProductName: </strong>{{item|productDescription | titlecase}}</mat-card-content>
  <mat-card-content [appHoverHighlight]="'lightblue'"><strong> Quantity: </strong>{{item.quantity}}</mat-card-content>
  <mat-card-content [appHoverHighlight]="'lightblue'"><strong> Color: </strong>{{item.color  | uppercase}}</mat-card-content>
  <mat-card-content [appHoverHighlight]="'lightblue'"><strong> Price: </strong>{{item.price | currency: 'CAD': "symbol-narrow"}}</mat-card-content>
  <mat-card-content [appHoverHighlight]="'lightblue'"><strong> Gift Wrap: </strong>{{item.giftWrap ? 'Yes':'No'}}</mat-card-content>
  </mat-card>
</div>
<div *ngIf="error" mat-card class="error-card">
  <mat-card-content>{{ error }}</mat-card-content>
</div>
