
<div *ngIf="item" class="item-list" >
  <h2 >Item List</h2>
  <p [appHoverHighlight]="'lightblue'"><strong> ID: </strong>{{item.id}}</p>
  <p [appHoverHighlight]="'lightblue'"><strong> ProductName: </strong>{{item.productName | titlecase}}</p>
  <p [appHoverHighlight]="'lightblue'"><strong> Quantity: </strong>{{item.quantity}}</p>
  <p [appHoverHighlight]="'lightblue'"><strong> Color: </strong>{{item.color  | uppercase}}</p>
  <p [appHoverHighlight]="'lightblue'"><strong> Price: </strong>{{item.price | currency: 'CAD': "symbol-narrow"}}</p>
  <p [appHoverHighlight]="'lightblue'"><strong> Gift Wrap: </strong>{{item.giftWrap ? 'Yes':'No'}}</p>
</div>
<div *ngIf="error" class="error">{{ error }}</div>
