
<div *ngIf="item" class="item-list">
  <h2>Item List</h2>
  <p><strong> ProductName: </strong>{{item.productName}}
    <img [src]="item.image" width="100" height="100" alt="bottle">
  </p>
  <p><strong> ID: </strong>{{item.id}}</p>
  <p><strong> Quantity: </strong>{{item.quantity}}</p>
  <p><strong> Color: </strong>{{item.color}}</p>
  <p><strong> Gift Wrap: </strong>{{item.giftWrap ? 'Yes':'No'}}</p>
  <button (click)="goBackward()" [disabled]="currentIndex===0">Previous</button>
  <button (click)="goForward()" [disabled]="currentIndex === userList.length - 1" >Next</button>
  <button (click)="goBack()">Back to student List</button>

</div>


